.tasks-list__container {
}

.tasks-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .task-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tasks-list__container {
    margin-left: 90px;
  }

  .tasks-container {
    justify-content: center;
  }
}
