.task-item__container {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  transition: all 0.4s;
  &:hover {
    transform: scale(1.03);
  }
}

.task-item__box {
  width: 300px;
  border-radius: 5px;
  background-color: #f8e77a;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;

  box-shadow: 5px 5px 5px gray;
}

.task-item__box-text {
  flex-grow: 1;
}

.task-item__box h4 {
  border-bottom: 2px solid #9ec9d4;
}

.task-item__box p {
  margin-top: 5px;
  border-bottom: 2px solid #9ec9d4;
  padding-bottom: 0;
}
.task-item__actions {
  margin-top: 8px;
}

.task-item__actions button {
  &:hover {
    background-color: var(--main-color) !important;
  }
}
